---
layout: archive-no-title
title: "Talks and Schools"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<h2 class="page__title">Talks</h2>
<ol>
    {% for post in site.talks reversed %}
    <li>{% include archive-single-talk.html %}</li>
    {% endfor %}
</ol>

<h2 class="page__title">Posters</h2>
<ol>
    {% for post in site.posters reversed %}
    <li>{% include archive-single-talk.html %}</li>
    {% endfor %}
</ol>

<h2 class="page__title">Schools and Workshops</h2>
<ol>
    {% for post in site.schools reversed %}
    <li>{% include archive-single-talk.html %}</li>
    {% endfor %}
</ol>
